.card {
  width: 1000px;
  height: 500px;
}
  

.grid {
  width: 40px;
  height: 70px;
  grid-gap: 50px;
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.card-img {
  width: 225px;
  height: 300px;
  object-fit: cover;
  object-radius: 6px;
}

.card-content {
  padding: 10px;
}

.card-header {
  font-size: 18px;
  color: #0d0d0d;
  margin-bottom: 10px;
}

.card-text {
  font-size: 12px;
  letter-spacing: 0.1rem;
  line-height: 0.5;
  color: #3d3d3d;
  margin-bottom: 10px;

}

.btn-beige{
  background-color: #DBC096;
  color: white;
  padding: 10px;
  width: 225px;
  height: 65px;
  border: 1px
  }
